<%= render partial: 'banner' %>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag 'stars/boduo.jpg', width: '140px', height: '140px', class: 'img-circle' %>
      <h2>はたのゆい </h2>
      <p>亮仔Hotel, 拍片必选！</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag 'stars/mayun.jpg', width: '140px', height: '140px', class: 'img-circle' %>
      <h2>马云</h2>
      <p>亮仔这个小伙子，当初要不是沉迷于左边这位的小电影，可能阿里巴巴就不会诞生了.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag 'stars/mahuateng.jpg', width: '140px', height: '140px', class: 'img-circle' %>
      <h2>马化腾</h2>
      <p>我们要坚持原创，比如学习亮仔，用(没)心(钱)创(玩)造(你)快(麻)乐(弊)。</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'Chrysanthemum.jpg', width: '500px', height: '500px', class: 'img-fluid' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 pull-md-7">
      <%= image_tag 'Desert.jpg', width: '500px', height: '500px', class: 'img-fluid' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'Jellyfish.jpg', width: '500px', height: '500px', class: 'img-fluid' %>
    </div>
  </div>


  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->