<%= render partial: 'banner' %>
<div id="our-service">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">服务质量</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="icon row-bottom-padded-sm"><span class="fa fa-diamond fa-5x" aria-hidden="true"></span></div>
          <h2>地理优越</h2>
          <p>位于市中心附近，交通便利，随时可以出入各大赌场，最快倾家荡产的正确选择。</p>
        </div>
        <div class="col-md-4">
          <div class="icon row-bottom-padded-sm"><span class="fa fa-bolt fa-5x" aria-hidden="true"></span></div>
          <h2>方便快捷</h2>
          <p>只要肯花钱，没有办不到的事。</p>
        </div>
        <div class="col-md-4">
          <div class="icon row-bottom-padded-sm"><span class="fa fa-heart fa-5x" aria-hidden="true"></span></div>
          <h2>大家的选择</h2>
          <p>每年有超过三千的富翁入住我们的酒店变成负翁，提供天桥指路服务，输光之后随时能拎包入住。</p>
        </div>
      </div>
  </div>
</div>


<div id="product-screenshots">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2>客房服务</h2>
      <div class="row text-center">
        <div class="col-md-8 push-md-2">
            <h3>99你住不了吃亏，99你住不了上当，99你哪都住不了，全场998，走过路过不要错过啊。</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-carousel-center ">
    <div><%=image_tag 'productions/1.jpg' %></div>
    <div><%=image_tag 'productions/2.jpg' %></div>
    <div><%=image_tag 'productions/3.jpg' %></div>
    <div><%=image_tag 'productions/4.jpg' %></div>
    <div><%=image_tag 'productions/5.jpg' %></div>
    <div><%=image_tag 'productions/6.jpg' %></div>
  </div>
</div>


<div id="tour">
  <div class="container">
    <div class="row row-bottom-padded-lg">
      <div class="col-md-10 push-md-1">
        <div class="col-md-4">
          <%= image_tag 'productions/duchang.jpg', class: 'img-feature-1' %>
        </div>
        <div class="col-md-7 push-md-1">
          <h2>赌场无处不在</h2>
          <p>只要您放得开，一个晚上变穷光蛋都不是问题.</p>
          <p><a href="#" class="btn btn-primary">我要赌钱</a></p>
        </div>
      </div>
    </div>

    <div class="row row-bottom-padded-lg">
      <div class="col-md-10 push-md-1">
        <div class="col-md-7">
          <h2>优美的室外</h2>
          <p>乡巴佬，看见没，这才叫酒店外景.</p>
          <p><a href="#" class="btn btn-primary">我要花钱</a></p>
        </div>
        <div class="col-md-4 push-md-1">
          <%= image_tag 'productions/shiwai.jpg', class: 'img-feature-1' %>
        </div>
      </div>
    </div>

    <div class="row row-bottom-padded-lg">
      <div class="col-md-10 push-md-1">
        <div class="col-md-4">
          <%= image_tag 'productions/wenquan.jpg', class: 'img-feature-1' %>
        </div>
        <div class="col-md-7 push-md-1">
          <h2>室内温泉</h2>
          <p>看见那些妹子了没，还不赶快下单.</p>
          <p><a href="#" class="btn btn-primary">我要妹子</a></p>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="features">
  <div class="container">

    <div class="row text-center">
      <div class="section-heading">
        <h2>FEATURES</h2>
        <div class="col-md-8 push-md-2">
          <h3>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          </h3>
        </div>
      </div>
    </div>

    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 desc">
        <div class="col-md-3"><i class="fa fa-credit-card-alt fa-3x" aria-hidden="true"></i></div>
        <div class="col-md-8">
          <h3>完全免费</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 desc">
        <div class="col-md-3"><i class="fa fa-female fa-3x" aria-hidden="true"></i></div>
        <div class="col-md-8">
          <h3>美女如云</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 desc">
        <div class="col-md-3"><i class="fa fa-tv fa-3x" aria-hidden="true"></i></div>
        <div class="col-md-8">
          <h3>服务周到</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 desc">
        <div class="col-md-3"><i class="fa fa-coffee fa-3x" aria-hidden="true"></i></div>
        <div class="col-md-8">
          <h3>安全舒适</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 desc">
        <div class="col-md-3"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></div>
        <div class="col-md-8">
          <h3>随叫随到</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 desc">
        <div class="col-md-3"><i class="fa fa-apple fa-3x" aria-hidden="true"></i></div>
        <div class="col-md-8">
          <h3>嘿嘿嘿</h3>
          <p>你邪恶了吧</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2>客户们这么评价我们...</h2>
        <div class="col-md-8 push-md-2">
          <h3>这些都来自真实的案例。</h3>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="col-md-4">
          <div class="box-testimony">
            <blockquote>
              <p>&ldquo;孩子输掉了，老婆当掉了，连我心爱的内裤也被人扒走了...我不活了&rdquo;</p>
            </blockquote>
            <p class="author">王亮, 沙雕俱乐部会长</p>
          </div>

        </div>
        <div class="col-md-4">
          <div class="box-testimony">
            <blockquote>
              <p>&ldquo;小明，你来回答这个问题。滚蛋！让我滚出去直说。&rdquo;</p>
            </blockquote>
            <p class="author">小明, King Of 嘎嘎嘎</p>
          </div>


        </div>
        <div class="col-md-4">
          <div class="box-testimony">
            <blockquote>
              <p>&ldquo;在不安全的城市，我只敢光脚走路，生怕别人偷掉我收藏的鞋，自从在Liang Hotel住了一晚，我再也不用担心这个问题了，因为我的鞋都输光了。&rdquo;</p>
            </blockquote>
            <p class="author">海伟,鞋贩子集团总裁</p>
          </div>

        </div>
      </div>

  </div>
</div>


<div id="contact-us">
  <div class="container">
    <div class="row text-center section-heading">
      <h2>欢迎联系我们,倒霉蛋. </h2>
      <div class="row">
        <button class="btn btn-primary">获取联系方式</button>
      </div>
    </div>
  </div>
</div>