<nav class="navbar navbar-static-top  navbar-light bg-faded" id="navigation">
  <%= link_to 'Liang Hotel', '#', data: { turbolinks: false }, class: 'navbar-brand'  %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to '主页', '#', data: { turbolinks: false }, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
      <%= link_to '火车', '#', data: { turbolinks: false }, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
      <%= link_to '预定酒店', '#', data: { turbolinks: false }, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
      <%= link_to '关于我们', '#', data: { turbolinks: false }, class: 'nav-link'  %>
    </li>
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">特殊服务</a>
      <div class="dropdown-menu">
        <%= link_to '嘿', '#', data: { turbolinks: false }, class: 'dropdown-item'  %>
        <%= link_to '嘿嘿', '#', data: { turbolinks: false }, class: 'dropdown-item'  %>
        <%= link_to '嘿嘿嘿', '#', data: { turbolinks: false }, class: 'dropdown-item'  %>
        <div class="dropdown-divider"></div>
          <%= link_to '你邪恶了吧', '#', data: { turbolinks: false }, class: 'dropdown-item'  %>
      </div>
    </li> -->
    <div class="login_panel">
      <li class="nav navbar-nav pull-right">
        <%= link_to '登录', '#', data: { turbolinks: false }, class: 'nav-link btn btn-primary'  %>
      </li>
      <li class="nav navbar-nav pull-right">
        <%= link_to '注册', '#', data: { turbolinks: false }, class: 'nav-link btn btn-primary'  %>
      </li>
    </div>
  </ul>
</nav>