<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/application/header' %>
    <%= render partial: 'shared/application/navigation' %>
    <div class="container"><%= yield %></div>
    <%= render partial: 'shared/application/footer' %>
  </body>
</html>
